<%- include("partials/head.ejs") %>
<link rel="stylesheet" href="/styles/details.css">
<link rel="stylesheet" href="/styles/styles.css">
<title>Detalles</title>
<body> 
    <section id="details">
        <%- include("partials/navbar.ejs") %>


        <div id="detailsCard">
            <div id="title">
                <h1><%= data.type %></h1>
                <p>No. <%= data.id %></p>
            </div>
            <div id="generalInfo">
                <p><%= data.details.bankBranch %></p>
                <p>Apertura: <%= data.details.openingDate %></p>
            </div>

            <% if (data.type == 'Cuenta de ahorros' || data.type == 'Cuenta corriente') { %>
                <% if (data.details.transactions && data.details.transactions.length > 0) { %>
                    <% data.details.transactions.forEach(transaction => { %>
                        <div class="transaction">
                            <div class="dateDescription">
                                <p class="transactionType"><%= transaction.type %></p>
                                <p class="date"><%= transaction.date %></p>
                            </div>
                            <div class="transactionAmount"><br><%= transaction.monto %></br></div>
                        </div>
                    <% }) %>
                <% } %>
            <% } else { %>
                <div class="cdtDetails">
                    <p><b>Porcentaje:</b> <%= data.details.percentage %>%</p>
                    <p><b>Monto final:</b> $<%= data.details.finalAmount %></p>
                    <p><b>Plazo:</b> <%= data.details.term %> meses</p>
                    <p><b>Fecha de expiración:</b> <%= data.details.expirationDate %></p>
                </div>
            <% } %>
             

        </div>
    </section>
</body>