<%- include("partials/head.ejs") %>
<link rel="stylesheet" href="/styles/withdraw.css">
<link rel="stylesheet" href="/styles/styles.css">
<title>Retirar</title>
<body>
    <section id="withdraw">
        <%- include("partials/navbar.ejs") %>

        <div id="withdrawCard">
            <h1 id="withdrawTitle">Retirar</h1>
            <form action="/withdraw" method="post">
                <div id="inputGroupContainer">
                    <div class="inputGroup">
                        <label for="">¿De dónde vas a retirar?</label>
                        <select name="accountToUse" id="accountToUse">
                            <% data.products.forEach(product => { %>
                                <% if (product.type != 'Cdt') { %>
                                    <option value="<%= product.id %>"><%= product.type %>: <%= product.id %></option>
                                <% } %>
                            <% }) %>
                        </select>
                    </div>
                    <div class="inputGroup">
                        <label for="">¿Cuánto vas a retirar?</label>
                        <input name="amount" type="number">
                    </div>
                </div>

                <div id="submitContainer"><input type="submit" value="Retirar"></div>
            </form>
        </div>
    </section>
</body>